header{
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar{
	height: 60px;
	align-items: center;
	display: flex;
	margin: 0 10px;
	justify-content: space-between;
}
.scrolled{
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,0.5);
	color: #fff !important;
}
.logo{
	font-size: 20px;
	font-weight: 900;
	color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-menu{
	/* border: 1px solid red; */
	list-style: none;
	display: flex;
	justify-content: end;
	/* margin: 0 10px; */
	align-self: center;
	font-weight: 600;
	width: fit-content;
	/* min-width: 300px; */
}
.menu-items{
	margin: 0 0 0 20px;
	color: #888888;
	text-decoration: none;

}
.menu-items:hover{
	color: #000000;
}
.active{
	color: #000000;
}